.header {
    background-color: #A1B7C8;
    min-height: 60px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
    width: 124px;
}

.header__contacts {
    display: none;
    position: absolute;
    background-color: #A1B7C8;
    top: 61px;
    right: 0;
    left: 0;
    padding: 30px 15px;
    color: #fff;
}

.header__contact-burger {
    display: block;
    width: 27px;
    height: 14px;
    background-image: url('../img/bars-solid.svg');
}

.contacts__item {
    margin-bottom: 50px;
}

.contacts__item:last-child {
    margin-bottom: 50px;
}

.contacts__head {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.contact__link {
    font-size: 16px;
    line-height: 22px;
}

.contacts__social-list {
    display: flex;
}

.contacts__social-link {
    display: flex;
    width: 26px;
    height: 26px;
    margin-right: 18px;
    background-position: center;
    background-repeat: no-repeat;
}


/* .contacts__social-link:not(:last-child) {
    margin-right: 18px;    
} */

.contacts__social-link-whatsup {
    background-image: url('../img/whats-app-outlined.svg');
}

.contacts__social-link-github {
    background-image: url('../img/github.svg');
}

.contacts__social-link-telegram {
    background-image: url('../img/telegram-plane.svg');
}

.contacts__social-link-linkedin {
    background-image: url('../img/linkedin-in.svg');
}

@media (min-width: 768px) {
    .header {
        min-height: 100px;
        padding: 28px 0;
    }

    .header__contacts {
        top: 101px;
        padding: 40px;
    }

    .header__logo {
        width: 180px;

    }

    .contacts__list {
        display: flex;
        justify-content: space-between;
    }

    .contacts__item {
        margin-bottom: 0;
    }

    .contacts__item:last-child {
        margin-bottom: 0px;
    }

}

@media (min-width: 992px) {
    .header {
        padding: 50px 0;
    }

    .header__container {
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 20px;
    }

    .header__contacts {
        display: block;
        position: static;
        padding: 0;
    }

    .contacts__item:not(:last-child) {
        margin-bottom: 50px;
    }

    .header__contact-burger {
        display: none;
    }

    .contacts__list {
        flex-direction: column;
    }
}

@media (min-width: 1440px) {
    .header {
        padding-top: 60px;
    }
}

@media (min-width: 992px) {
    .present {
        position: relative;
    }

    .present:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 35%;
        height: 100%;
        background-color: #A1B7C8;
        z-index: -1;
    }
}

@media (min-width: 1440px) {
.present-photo {
    width: 445px;
}
.present__group-title {
margin-bottom: 60px;
}
.present-title {
    margin-bottom: 20px;
    font-size: 50px;    
}
.present__subtitle {
    font-size: 20px;
}
.present__description {
    font-size: 18px;
}

}